{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}
{% block content %}
	<main>

		<div class="hero-image p-0">
			<div class="hero-text">
				<h1 class="display-5 mt-5-xl">Invest in the future on mars</h1>
				<p class="lead">“Explore as One”</p>
				<span class="fw-bold">Perseverance Mars Rover</span>
				<div class="scrollDown">
					<a href="#findyourland">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64" height="64" viewbox="0 0 172 172" style=" fill:#000000;">
							<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
								<path d="M0,172v-172h172v172z" fill="none"></path>
								<g>
									<path d="M2.65391,86c0,-46.02344 37.32266,-83.34609 83.34609,-83.34609c46.02344,0 83.34609,37.32266 83.34609,83.34609c0,46.02344 -37.32266,83.34609 -83.34609,83.34609c-46.02344,0 -83.34609,-37.32266 -83.34609,-83.34609z" fill="#cccccc"></path>
									<path d="M119.29141,66.28047c-10.27969,10.27969 -20.55938,20.59297 -30.87266,30.87266c-10.31328,-10.31328 -20.62656,-20.62656 -30.93984,-30.93984c-9.00313,-9.00313 -22.91094,5.00547 -13.87422,14.04219c12.63125,12.63125 25.2625,25.2625 37.89375,37.89375c3.82969,3.82969 10.17891,3.72891 13.94141,-0.06719c12.63125,-12.63125 25.2625,-25.2625 37.89375,-37.89375c8.96953,-9.03672 -5.03906,-22.94453 -14.04219,-13.90781z" fill="#ffffff"></path>
								</g>
							</g>
						</svg>
					</a>
					<p>Scroll Down</p>
				</div>

			</div>

		</div>

	</div>

	<section id="findyourland">
		<h1>Find your Land</h1>
		<div class="container">
			<div class="d-flex justify-content-lg-between flex-lg-row align-items-lg-center flex-column px-lg-5 mb-lg-5 mb-3">


				<div class="card m-3">
					<img class="card-img-top" src="{{nasaImages.60.img_src}}" alt="Card image cap">
					<div class="card-body">

						<p class="card-text">Good option for those who want to build a new family in Mars. Watch your kids born and grow in Mars!</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Value land</li>
						<li class="list-group-item">683m²</li>
						<li class="list-group-item">Next to the NASA station</li>
						<li class="list-group-item">$ 894.399,00</li>
					</ul>

				</div>

				<div class="card m-3">
					<img class="card-img-top h-50" src="{{nasaImages.10.img_src}}" alt="Card image cap">
					<div class="card-body">

						<p class="card-text">This is for those who want to live a luxury life in Mars. Discover the new Hamptons!</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Luxury land</li>
						<li class="list-group-item">2358m²</li>
						<li class="list-group-item">Next to the future Mars's facility center</li>
						<li class="list-group-item">$ 2.897.600,00</li>
					</ul>

				</div>

				<div class="card  m-3">
					<img class="card-img-top" src="{{nasaImages.150.img_src}}" alt="Card image cap">
					<div class="card-body">

						<p class="card-text">The best cost benefit for those who want to live in Mars with comfort! Come with all your close family!</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Comfort land</li>
						<li class="list-group-item">1358m²</li>
						<li class="list-group-item">Located in the first condominium of Mars</li>
						<li class="list-group-item">$ 1.697.600,00</li>
					</ul>

				</div>

			</div>
			<div class="text-center">
				<a href="#" class="btn btn-element w-30 fw-bold">Choose your land</a>
			</div>
		</div>

	</section>

	<section>
		<div class="container">
			<h1>Testimonials</h1>
			<div class="testimonialSection d-flex align-items-center">


				{% for testimonial in testimonials %}

<div class="card testimonialCard" style="width: 50rem;">
						<img src="{{testimonial.avatar}}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{testimonial.name}}</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{testimonial.designation}}</li>
							<li class="list-group-item">{{testimonial.location}}</li>

						</ul>
						<div class="card-body">
							<p>{{testimonial.message}}</p>
						</div>
					</div> 

				{% endfor %}


			</div>

		</div>
	</section>


</main>{% endblock %}
